@import "styles/vars.scss";

$styles: (
	"green": $green,
	"red": $red,
	"blue": $blue
);

.button {
	font-family: $font;
	font-size: 14px;

	border-radius: 4px;
	transition: all 0.1s ease-in-out;
	padding: 0 10px;
	border: 1px solid;

	background-color: $white;
	color: $footer;

	line-height: 30px;

	cursor: pointer;

	text-align: center;

	svg {
		width: 12px;
		height: 12px;
	}

	span + svg {
		margin-left: 5px;
	}

	@each $color, $value in $styles {
		&.#{$color} {
			border-color: $value;

			svg path {
				fill: $value;
			}

			&:hover {
				color: $white;
				background-color: $value;

				svg path {
					fill: $white;
				}
			}
		}
	}
}
